@media screen and (max-width: 720px) {
  .features {
    display: flex;
    flex-direction: COLUMN;
    align-items: center;
    justify-content: center;

    .featureTitle {
      display: none;
    }
    .feature-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 2.5rem;
    }
    .feature-item-title {
      color: #222;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      text-align: center;
    }
    .feature-item-content {
      text-align: center;
    }
    .feature-item-icon {
      width: 100px;
      border: 10px solid #00bc77;
      border-radius: 50%;
      padding: 1rem;
    }
  }
}
